<div class="container-fluid registerPage">
    <h3 class="tagline">New to the game?</h3>
    <h4 class="taglineSubtext">Register below to take control of your fianances</h4>
    <div class="displayCards">
        <h3 class="formBoxHeader">Register</h3>
        <div class="form-floating formInputs">
            <input type="email" class="form-control" id="registerEmail" name="email" placeholder="name@example.com">
            <label class="formLabel" for="floatingInput">@ Email Address</label>
        </div>
        <div class="form-floating formInputs">
            <input type="password" class="form-control" id="registerPassword" name="password" placeholder="Password">
            <label class="formLabel" for="floatingPassword">Password</label>
        </div>
        <div class="form-floating formInputs">
            <input type="password" class="form-control" id="repeatPassword" name="passwordConfirm"
                placeholder="Password">
            <label class="formLabel" for="floatingPassword">Confirm Password</label>
        </div>
        <button type="button" id="register" class="btn btn-primary btn-lg">Register</button>
    </div>
</div>