<nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid navBackground">
            <img src="./assets/WalletWiz logo.png" class="logoP2" alt="WalletWiz header logo">
            <a class="navbar-brand" href="#">WalletWhiz</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid registerPage">
        <h3 class="tagline">New to the game?</h3>
        <h4 class="taglineSubtext">Register below to take control of your finances</h4>
        <div class="displayCards">
            <h3 class="formBoxHeader">Register</h3>
            <div class="form-floating formInputs">
                <input type="email" class="form-control" id="registerEmail" name="email" placeholder="name@example.com">
                <label class="formLabel" for="floatingInput">@ Email Address</label>
            </div>
            <div class="form-floating formInputs">
                <input type="password" class="form-control" id="registerPassword" name="password"
                    placeholder="Password">
                <label class="formLabel" for="floatingPassword">Password</label>
            </div>
            <div class="form-floating formInputs">
                <input type="password" class="form-control" id="repeatPassword" name="passwordConfirm"
                    placeholder="Password">
                <label class="formLabel" for="floatingPassword">Confirm Password</label>
            </div>
            <button type="button" class="btn btn-primary btn-lg">Link</button>
        </div>
    </div>
    <div class="container-fluid appFeaturesBox">
        <h2 class="featuresHeader">What does WalletWhiz have to offer you?</h2>
        <div class="container-fluid featuresBoxInner">
            <div class="container-fluid featuresTextBox">
                <h3 class="featuresText">WalletWhiz tracks your transactions in real time so that you can accurately
                    manage incoming and outgoing finances</h3>
            </div>
            <div class="line"></div>
            <div class="container-fluid featuresTextBox">
                <h3 class="featuresText">WalletWhiz has tools to analyze your spending habits so you can save more money
                    for the things you want</h3>
            </div>
            <div class="line"></div>
            <div class="container-fluid featuresTextBox">
                <h3 class="featuresText">WalletWhiz is made by people like you, for people like you. We implemented
                    features that we want to track our own finances</h3>
            </div>
        </div>